# Nuxt build & cache
.nuxt/
.output/
.cache/
dist/

# Environment variables
.env
.env.*.local

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Optional: lock files (if you're not using them)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
